{
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true,
    },
    "globals": {
        "chrome": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-extra-semi": 0,
        "comma-dangle": [1, "always-multiline"],
        "block-spacing": 1,
        "camelcase": 0,
        "curly": 1,
        "eqeqeq": 2,
        "keyword-spacing": 1,
        "max-len": 0,
        "no-control-regex": 0,
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "one-var": 0,
        "require-jsdoc": 0,
        "space-in-parens": 1,
        "space-infix-ops": 1,
        "valid-jsdo": 0
    },
    "settings": {
        "react": {
            "version": "16.4.1"
        }
    }
}
