{
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "chrome": true
    },
    "extends": ["eslint:recommended", "google"],
    "parserOptions": {
        "ecmaVersion": 6,
    },
    "rules": {
        "block-spacing": 1,
        "camelcase": 0,
        "curly": 1,
        "eqeqeq": 2,
        "indent": 1,
        "keyword-spacing": 1,
        "max-len": 0,
        "no-control-regex": 0,
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "one-var": 0,
        "require-jsdoc": 0,
        "space-in-parens": 1,
        "space-infix-ops": 1,
        "valid-jsdo": 0,
    }
}
