@font-face {
	font-family: 'iconfont';  /* project id 862696 */
	src: url('//at.alicdn.com/t/font_862696_227xf8jklcw.eot');
	src: url('//at.alicdn.com/t/font_862696_227xf8jklcw.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_862696_227xf8jklcw.woff') format('woff'),
	url('//at.alicdn.com/t/font_862696_227xf8jklcw.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_862696_227xf8jklcw.svg#iconfont') format('svg');
}