//
// 
//
@import '../utils/google-colors';

.bili-list-item {
  min-height: 49px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-color: $paper-grey-300;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 13px;
  &:first-of-type {
    border-top: none;
  }
  &.two-line {
    min-height: 65px;
  }
  .start {
    display: flex;
    flex-direction: column;
    flex: auto;
    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
      height: 20px;
      font-size: 13px;
    }
    .secondary {
      height:20px;
      color: #757575;
      font-weight: 400;
    }
  }
}