.page-container .article-holder.unable-reprint {
	user-select: auto;
}

.bilibili-ct-wrapper, .banner-img-holder {
	margin: 0px 5px;

	&:hover {
		outline: 5px solid #00a1d6;
	}

	button {
		width: 100px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 5px;
		font-size: 16px;
		border: none;
		background-color: #00a1d6;
		color: #fff;
		cursor: pointer;
		transition: opacity .3s;

		&:hover {
			opacity: 0.85;
		}

		&:active {
			opacity: 0.75;
		}
	}
}
