.arc-toolbar .share-tool-bar .share-btn-bar .g-share-btn {
    margin: 19px 0px;
}

.arc-toolbar .share-tool-bar .share-btn-bar {
    padding-right: 0;
}

.arc-toolbar .block.watch-later {
    padding-right: 10px;
}

#cb_controler {
    display: none;
}

.bili-helper {
    display: inline-block;
    position: relative;
}
.func-module.clearfix .bili-helper{
    float: left;
    margin-right: 20px;
}
.bili-helper .v1-bangumi-info-btn {
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid #e5e9ef;
    line-height: 28px;
}

#loading-notice {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 260px;
    height: 32px;
    margin-top: -66px;
    margin-left: -130px;
    line-height: 20px;
    font-size: 15px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/imgs/loading.gif');
    background-repeat: no-repeat;
    background-position: 6px 16px;
    padding-top: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    transition: all .2s ease-in;
}

.bangumi-player #bofqi.player-content {
    box-shadow: none;
    margin: 0;
    width: 100%;
}

.bangumi-player #bofqi.player-content .player {
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 720px;
}

#bofqi.wide .player {
    width: 980px
}

.arc-toolbar .bili-helper {
    padding: 0 10px 0 5px;
    border-right: none;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    transition: .2s all ease-in;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent
}

.arc-toolbar .bili-helper:hover {
    color: #00a1d6
}

.bili-helper .v1-bangumi-info-btn:hover {
    border-color: #00a1d6;
    color: #00a1d6;
}

@media screen and (max-width: 1400px) {
    .arc-toolbar .block {
        padding: 0 12px;
        margin-left: -12px;
    }
    .bangumi-player #bofqi.player-content .player {
        height: 620px;
    }
}

.bangumi-player.mini-player .player-content .player {
    height: 240px !important
}

.arc-toolbar .bili-helper .t {
    height: 80px
}

.arc-toolbar .bili-helper .t .icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: 600px 60px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-animation: moving-neko 10s steps(3, end) infinite;
    -webkit-animation-fill-mode: forwards
}

.arc-toolbar .bili-helper:hover .icon {
    -webkit-animation: eating-neko 1s steps(9, end) infinite
}

.bili-helper .info {
    height: auto;
    cursor: default;
    transition: .2s all ease-in;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px;
    position: absolute;
    background: #fff;
    top: 70px;
    left: -1px;
    z-index: 1000;
    line-height: normal;
    width: 310px;
    border: 1px solid #e5e9ef;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    pointer-events: none;
    white-space: normal;
}

.arc-toolbar .bili-helper.active {
    border-radius: 4px 0 0 0;
    border-left: 1px solid #e5e9ef;
    border-right: 1px solid #e5e9ef;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px;
}

.bili-helper.active .info {
    opacity: 1;
    pointer-events: auto;
    top: 100%;
}

.bili-helper .info .main {
    height: auto;
    padding: 12px;
    line-height: 24px;
    font-size: 12px;
    color: #444;
}

.bili-helper .info .main .section h3 {
    font-weight: 500
}

.bili-helper .info .main .section p {
    color: #666
}

.bili-helper .info .main .section p span {
    margin-right: 8px;
    font-size: 12px
}

.bili-helper .info .main .hidden {
    display: none!important
}

.bili-helper .info .main .section a.b-btn {
    padding: 4px 6px;
    line-height: 14px;
    display: inline-block;
    margin: 4px
}

.bili-helper .info .main .section.query>p>div {
    margin-left: 4px;
}

.bili-helper .info .main .section.query .b-input {
    width: 260px;
}

.bili-helper .info .main .section.query .b-slt {
    height: 22px;
    padding: 2px 7px;
    width: 256px;
    position: relative
}

.bili-helper .info .main .section.query .b-slt .txt {
    vertical-align: inherit;
    margin-right: 0;
    font-size: inherit;
    margin-top: -3px;
    width: 230px;
    text-align: left
}

.bili-helper .info .main .section.query .b-slt .b-slt-arrow {
    display: inline-block;
    height: 6px;
}

.bili-helper .info .main .section.query .b-slt .kw {
    color: #f25d8e;
    margin-right: 0;
    font-weight: bold;
    vertical-align: baseline
}

.bili-helper .info .main .section.query .b-slt .list {
    width: 100%;
    max-height: 200px;
    margin-top: 4px
}

.bili-helper .info .main .section.query .b-slt .list li {
    width: 260px
}

.bili-helper .info .main .section.query .b-slt .list li.selected {
    background-color: #00a1d6;
    color: white;
}

.bili-helper .info .main .section.query .b-slt .list li.error {
    color: gainsboro;
}

.bili-helper .info .version {
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    border-top: solid 1px #ddd;
    color: #444
}

.bili-helper .version .setting {
    display: inline-block;
    margin-left: 24px;
    height: 18px;
    width: 40px;
    line-height: 18px;
}

.share-btn.btn-bilihelper {
    width: 120px!important;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #6d757a;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    cursor: pointer;
}

#helper_aera {
    width: 240px;
    float: right;
    padding: 0px 10px;
}

.titleNumber {
    cursor: pointer;
    text-decoration: underline;
    color: #1184B4;
}

#cancel-replacing:hover {
    background-position-y: -8px
}

#cancel-replacing:active {
    background-position-y: -8px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .2), inset 0 4px 4px rgba(0, 0, 0, .15);
}
.bangumi-info .info-right .info-title.clearfix h2{
    width: 500px;
}
@-webkit-keyframes eating-neko {
    from {
        background-position-x: 0px
    }
    to {
        background-position-x: -540px
    }
}

@-webkit-keyframes moving-neko {
    0% {
        background-position-x: 180px
    }
    50% {
        background-position-x: 360px
    }
    100% {
        background-position-x: 180px
    }
}
