body {
	background-color: white;
}
/**
	new container for helper
 */

.new-page body:not(.player-fullscreen-fix){
	.entry-old .feedback img, #entryOld .feedback-btn img {
		display: none;
	}
	.bilibili-helper {
		position: fixed;
		bottom: 412px;
		right: 6px;
		z-index: 1000;
		& > span {
			display: block;
			padding: 6px 0;
			line-height: 17px;
			vertical-align: baseline;
			font-size: 12px;
			text-align: center;
			border-radius: 2px;
			box-shadow: 0 6px 10px 0 rgba(251, 114, 153, .4);
			background: #fb7299;
			color: #fff;
			cursor: pointer;
		}
		.bilibili-helper-content {
			top: 0;
		}
	}
}
.player-module #bofqi.stardust-player {
	z-index: auto !important;
}
#entryOld {
	z-index: 900;
}
#toolbar_module .bilibili-helper {
	position: relative;
}
// 稍后再看页面
#viewlater-app .video-toolbar-module .bilibili-helper {
	position: relative;
	float: left;
	left: 10px;
	display: block;
	line-height: 78px;
	cursor: pointer;
	& > span {
		color: #000;
		display: block;
		padding: 0;
		font-size: 16px;
		line-height: 68px;
	}
	.bilibili-helper-content {
		right: -200px;
		top: 80px;
	}
}
#arc_toolbar_report {
	.ops {
		.share {
			width: 90px;
		}
		.bilibili-helper {
			position: relative;
		}
	}
	& > .tb-line, .app-download {
		display: none;
	}
	& > .bilibili-helper {
		display: inline-block;
		width: 170px;
		height: 80px;
		line-height: 80px;
		float: left;
		color: #000;
		display: block;
		font-size: 16px;
		& > span {
			user-select: none;
			cursor: pointer;
			span {
				color: #000;
				display: inline-block;
				font-size: 16px;
				height: 50px;
				line-height: 68px;
			}
		}
		.bilibili-helper-content {
			right: -1px;
			top: 80px;
			box-shadow: none;
			border-radius: 0;
		}
	}
}
#bangumi_detail .info-title {
	& > a {
		h2 {
			width: auto !important;
			max-width: 300px !important;
			min-width: 170px !important;
		}
	}
	.func-module {
		display: flex;
		& > * {
			order: 1;
		}
		.bilibili-helper {
			order: 0;
			display: inline-block;
			width: auto;
			height: 28px;
			margin: 0 20px 0 0;
			padding: 0;
			line-height: 28px;
			text-align: center;
			font-size: 14px;
			color: #6d757a;
			&:hover {
				color: #00a1d6;
				border-color: #00a1d6;
			}
			& > span {
				cursor: pointer;
				user-select: none;
				.iconfont {
					display: none;
				}
			}
			.bilibili-helper-content {
				top: 40px;
				right: 200px;
			}
		}
	}
}
